# A Quick Tour of Variables and Data Types in Python

This tutorial is a part of [Data Analysis with Python: Zero to Pandas](https://jovian.ai/learn/data-analysis-with-python-zero-to-pandas) and [Zero to Data Analyst Science Bootcamp](https://jovian.ai/learn/zero-to-data-analyst-bootcamp).


![](https://i.imgur.com/6cg2E9Q.png)
These tutorials take a practical and coding-focused approach. The best way to learn the material is to execute the code and experiment with it yourself.

This tutorial covers the following topics:

- Storing information using variables
- Primitive data types in Python: Integer, Float, Boolean, None and String
- Built-in data structures in Python: List, Tuple and Dictionary
- Methods and operators supported by built-in data types

## Storing information using variables

Computers are useful for two purposes: storing information (also known as data) and performing operations on stored data. While working with a programming language such as Python, data is stored in variables. You can think of variables are containers for storing data. The data stored within a variable is called its value. Creating variables in Python is pretty easy, as we've already seen in the [previous tutorial](https://jovian.ml/aakashns/first-steps-with-python/v/4#C15).

In [2]:
my_favorite_color = "blue"

In [3]:
my_favorite_color

'blue'

A variable is created using an assignment statement. It begins with the variable's name, followed by the assignment operator `=` followed by the value to be stored within the variable.  Note that the assignment operator `=` is different from the equality comparison operator `==`.

You can also assign values to multiple variables in a single statement by separating the variable names and values with commas.

In [4]:
color1, color2, color3 = "red", "green", "blue"

In [5]:
color1

'red'

In [6]:
color2

'green'

In [7]:
color3

'blue'

You can assign the same value to multiple variables by chaining multiple assignment operations within a single statement.

In [8]:
color4 = color5 = color6 = "magenta"

In [9]:
color4

'magenta'

In [10]:
color5

'magenta'

In [11]:
color6

'magenta'

You can change the value stored within a variable by assigning a new value to it using another assignment statement. Be careful while reassigning variables: when you assign a new value to the variable, the old value is lost and no longer accessible.

In [14]:
my_favorite_color = "red"

In [15]:
my_favorite_color

'red'

While reassigning a variable, you can also use the variable's previous value to compute the new value.

In [17]:
counter = 10

In [20]:
counter

11

In [21]:
counter = 11

In [22]:
counter = counter + 1

In [23]:
counter

12

In [2]:
print("Hello World")

Hello World

The pattern `var = var op something` (where `op` is an arithmetic operator like `+`, `-`, `*`, `/`) is very common, so Python provides a *shorthand* syntax for it.

In [24]:
counter = 10

In [25]:
counter + 4

14

In [26]:
counter = counter + 4

In [27]:
counter

14

In [34]:
# Same as `counter = counter + 4`
counter -= 4

In [35]:
counter

10

In [36]:
COUNTER

NameError: name 'COUNTER' is not defined

Variable names can be short (`a`, `x`, `y`, etc.) or descriptive ( `my_favorite_color`, `profit_margin`, `the_3_musketeers`, etc.). However, you must follow these rules while naming Python variables:

* A variable's name must start with a letter or the underscore character `_`. It cannot begin with a number.
* A variable name can only contain lowercase (small) or uppercase (capital) letters, digits, or underscores (`a`-`z`, `A`-`Z`, `0`-`9`, and `_`).
* Variable names are case-sensitive, i.e., `a_variable`, `A_Variable`, and `A_VARIABLE` are all different variables.

Here are some valid variable names:

In [39]:
a_variable = 23
is_today_Saturday = False
my_favorite_car = "Delorean"
the_3_musketeers = ["Athos", "Porthos", "Aramis"]

Let's try creating some variables with invalid names. Python prints a syntax error if your variable's name is invalid.

> **Syntax**: The syntax of a programming language refers to the rules that govern the structure of a valid instruction or *statement*. If a statement does not follow these rules, Python stops execution and informs you that there is a *syntax error*. You can think of syntax as the rules of grammar for a programming language.

In [38]:
2_day = 555

SyntaxError: invalid decimal literal (3308187233.py, line 1)

In [37]:
so@oi = '7848'

SyntaxError: cannot assign to operator (319072881.py, line 1)

In [1]:
my_age = 29

In [2]:
is_today_Saturday = False

In [7]:
my_favorite_car = "Lamborgini"

In [4]:
the_3_learners = ["Reuben", "Victor", "Favour"]

## Built-in data types in Python

Any data or information stored within a Python variable has a *type*. You can view the type of data stored within a variable using the `type` function.

In [13]:
my_age

29

In [5]:
type(my_age)

int

In [21]:
is_today_Saturday

False

In [6]:
type(is_today_Saturday)

bool

In [25]:
my_favorite_car

'Lamborgini'

In [8]:
type(my_favorite_car)

str

In [9]:
the_3_learners

['Reuben', 'Victor', 'Favour']

In [10]:
type(the_3_learners)

list

In [11]:
the_seed_learners = ('Karan', 'Cherish', 'Feranmi', "Hero", "Lovelyn")

In [12]:
the_seed_learners

('Karan', 'Cherish', 'Feranmi', 'Hero', 'Lovelyn')

In [13]:
type(the_seed_learners)

tuple

In [38]:
print(the_seed_learners)

('Marvelous', 'Akeem', 'Jennifer', 'Hero', 'Lovelyn')

Python has several built-in data types for storing different kinds of information in variables. Following are some commonly used data types:

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

Integer, float, boolean, None, and string are *primitive data types* because they represent a single value. Other data types like list, tuple, and dictionary are often called *data structures* or *containers* because they hold multiple pieces of data together.

### Integer

Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type `int`.

In [14]:
current_year = 2025

In [15]:
current_year

2025

In [16]:
type(current_year)

int

Unlike some other programming languages, integers in Python can be arbitrarily large (or small). There's no lowest or highest value for integers, and there's just one `int` type (as opposed to `short`, `int`, `long`, `long long`, `unsigned int`, etc. in C/C++/Java).

In [17]:
a_large_negative_number = -23374038374832934334234317348343

In [51]:
a_large_negative_number

-23374038374832934334234317348343

In [55]:
type(a_large_negative_number)

int

In [18]:
a_very_large_number = 123456778910238776995050505

In [19]:
a_very_large_number

123456778910238776995050505

In [61]:
type(a_very_large_number)

int

### Float

Floats (or floating-point numbers) are numbers with a decimal point. There are no limits on the value or the number of digits before or after the decimal point. Floating-point numbers have the type `float`.

In [20]:
pi = 3.141592653589793238

In [21]:
pi

3.141592653589793

In [22]:
type(pi)

float

Note that a whole number is treated as a float if written with a decimal point, even though the decimal portion of the number is zero.

In [23]:
a_number = 3.0

In [24]:
a_number

3.0

In [25]:
type(a_number)

float

In [26]:
another_number = 4.

In [27]:
another_number

4.0

In [28]:
type(another_number)

float

Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10.

In [29]:
one_hundredth = 1e-2

In [30]:
one_hundredth

0.01

In [31]:
type(one_hundredth)

float

In [32]:
1e2

100.0

In [33]:
avogadro_number = 6.02214076e23

In [95]:
avogadro_number

6.02214076e+23

In [97]:
type(avogadro_number)

float

In [99]:
num = 1e2

In [101]:
num

100.0

In [103]:
type(num)

float

**You can convert floats into integers and vice versa using the `float` and `int` functions.**

**The operation of converting one type of value into another is called `casting`.**

In [34]:
current_year

2025

In [35]:
current_year = float(current_year)

In [36]:
type(current_year)

float

In [38]:
current_year

2025.0

In [39]:
current_year = int(current_year)

In [40]:
current_year

2025

In [123]:
a_large_negative_number

-23374038374832934334234317348343

In [125]:
float(a_large_negative_number)

-2.3374038374832935e+31

In [127]:
pi

3.141592653589793

In [129]:
int(pi)

3

In [88]:
avogadro_number

6.02214076e+23

In [89]:
int(avogadro_number)

602214075999999987023872

In [90]:
int(3456.0)

3456

While performing arithmetic operations, integers are automatically converted to `float`s if any of the operands is a `float`. Also, the division operator `/` always returns a `float`, even if both operands are integers. Use the `//` operator if you want the result of the division to be an `int`.

In [41]:
45 + 3

48

In [42]:
45 + 3.0

48.0

In [43]:
45.0 + 3.0

48.0

In [44]:
type(45 * 3.0)

float

In [45]:
45 * 3

135

In [46]:
type(45 * 3)

int

In [51]:
10/2

5.0

In [148]:
10.0/2.0

5.0

In [50]:
10//3

3

In [84]:
type(10/3)

float

In [85]:
10/4

2.5

In [96]:
10//4

2

In [97]:
type(10/2)

float

In [88]:
10 % 3

1

In [85]:
type(10//2)

int

In [89]:
round(23.67798)

24

In [90]:
round(23.67798, 2)

23.68

In [92]:
import math

In [94]:
math.ceil(23.2798)

24

In [95]:
math.floor(23.2798)

23

In [96]:
round(23.27798)

23

### Boolean

Booleans represent one of 2 values: `True` and `False`. Booleans have the type `bool`.

In [52]:
type(False)

bool

In [53]:
type(True)

bool

In [54]:
is_today_Sunday = True

In [55]:
is_today_Sunday

True

In [56]:
is_today_Saturday = False

In [57]:
is_today_Saturday

False

In [58]:
type(is_today_Saturday)

bool

Booleans are generally the result of a comparison operation, e.g., `==`, `>=`, etc.

In [168]:
cost_of_ice_bag = 1.25


is_ice_bag_expensive = cost_of_ice_bag >= 10

In [170]:
is_ice_bag_expensive

False

In [172]:
type(is_ice_bag_expensive)

bool

Booleans are automatically converted to `int`s when used in arithmetic operations. `True` is converted to `1` and `False` is converted to `0`.

In [59]:
5 + False

5

In [62]:
3.0 + True

4.0

Any value in Python can be converted to a Boolean using the `bool` function. 

Only the following values evaluate to `False` (they are often called *falsy* values):

1. The value `False` itself
2. The integer `0`
3. The float `0.0`
4. The empty value `None`
5. The empty text `""`
6. The empty list `[]`
7. The empty tuple `()`
8. The empty dictionary `{}`
9. The empty set `set()`
10. The empty range `range(0)`

Everything else evaluates to `True` (a value that evaluates to `True` is often called a *truthy* value).

In [64]:
bool(False)

False

In [65]:
bool(0)

False

In [66]:
bool(0.0)

False

In [67]:
bool(None)

False

In [84]:
bool("HWT IS YOUR NAME")

True

In [74]:
bool([1])

True

In [82]:
bool(("Nane"))

True

In [86]:
bool(not("Name"))

False

In [71]:
bool({})

False

In [77]:
bool(set('int'))

True

In [73]:
bool(range(0))

False

In [200]:
bool(True), bool(1), bool(2000.0), bool("hello"), bool([1,2]), bool((2,3)), bool(range(10))

(True, True, True, True, True, True, True)

### None

The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.

In [88]:
name = None

In [92]:
print(name)

None

In [90]:
type(name)

NoneType

In [208]:
name

In [210]:
gender

NameError: name 'gender' is not defined

### String

A string is used to represent text (*a string of characters*) in Python. Strings must be surrounded using quotations (either the single quote `'` or the double quote `"`). Strings have the type `string`.

In [93]:
'Monday'

'Monday'

In [94]:
"Monday"

'Monday'

In [96]:
'Monday"

SyntaxError: EOL while scanning string literal (Temp/ipykernel_21008/1073759438.py, line 1)

In [97]:
today = "Sunday"

In [98]:
today

'Sunday'

In [99]:
type(today)

str

You can use single quotes inside a string written with double quotes, and vice versa.

In [102]:
my_favorite_movie = "One Flew over the Cuckoo's Nest"

In [103]:
my_favorite_movie

"One Flew over the Cuckoo's Nest"

In [105]:
my_favorite_pun = 'Thanks for explaining the word "many" to me, it means a lot'

In [106]:
my_favorite_pun

'Thanks for explaining the word "many" to me, it means a lot'

To use a double quote within a string written with double quotes, *escape* the inner quotes by prefixing them with the `\` character.

In [112]:
another_pun = "The first time I got a universal remote control, I thought to myself \"This changes everything\"."

In [110]:
another_pun

'The first time I got a universal remote control, I thought to myself "This changes everything".'

Strings created using single or double quotes must begin and end on the same line. To create multiline strings, use three single quotes `'''` or three double quotes `"""` to begin and end the string. Line breaks are represented using the newline character `\n`.

In [243]:
yet_another_pun = '''Son: "Dad, can you tell me what a solar eclipse is?" 
Dad: "No sun." 
"Sunny" '''

In [258]:
print(yet_another_pun)

Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun."
"Sunny"

In [260]:
print('Dad: \n"No sun."')

Dad:
"No sun."

Multiline strings are best displayed using the `print` function.

In [252]:
print(yet_another_pun)

Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun."
"Sunny"

In [124]:
a_music_pun = '''Two windmills are standing in a field and one asks the other, 
"What kind of music do you like?"  
Hey
The other says, 
"I'm a big metal fan."'''

In [125]:
print(a_music_pun)

Two windmills are standing in a field and one asks the other,
"What kind of music do you like?"
Hey
The other says,
"I'm a big metal fan."

In [126]:
a_music_pun

'Two windmills are standing in a field and one asks the other, \n"What kind of music do you like?"  \nHey\nThe other says, \n"I\'m a big metal fan."'

In [115]:
len(a_music_pun)

141

You can check the length of a string using the `len` function.

In [270]:
my_favorite_movie

"One Flew over the Cuckoo's Nest"

In [127]:
len(my_favorite_movie)

31

In [1]:
Password = '123456789'

In [2]:
len(Password)

9

Note that special characters like `\n` and escaped characters like `\"` count as a single character, even though they are written and sometimes printed as two characters.

In [158]:
empty = ''
len(empty)

0

In [274]:
multiline_string = """a
b"""
print(multiline_string)

a
b

In [276]:
len(multiline_string)

3

In [117]:
print('a \nb')

a
b

A string can be converted into a list of characters using `list` function.

In [153]:
list(multiline_string)

['a', '\n', 'b']

In [161]:
a_music_pun

'\nTwo windmills are standing in a field and one asks the other, \n"What kind of music do you like?"  \n\nThe other says, \n"I\'m a big metal fan."\n'

In [162]:
print(a_music_pun)

Two windmills are standing in a field and one asks the other,
"What kind of music do you like?"

The other says,
"I'm a big metal fan."

In [156]:
list(a_music_pun)

['\n',
 'T',
 'w',
 'o',
 ' ',
 'w',
 'i',
 'n',
 'd',
 'm',
 'i',
 'l',
 'l',
 's',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 's',
 't',
 'a',
 'n',
 'd',
 'i',
 'n',
 'g',
 ' ',
 'i',
 'n',
 ' ',
 'a',
 ' ',
 'f',
 'i',
 'e',
 'l',
 'd',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'o',
 'n',
 'e',
 ' ',
 'a',
 's',
 'k',
 's',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'o',
 't',
 'h',
 'e',
 'r',
 ',',
 ' ',
 '\n',
 '"',
 'W',
 'h',
 'a',
 't',
 ' ',
 'k',
 'i',
 'n',
 'd',
 ' ',
 'o',
 'f',
 ' ',
 'm',
 'u',
 's',
 'i',
 'c',
 ' ',
 'd',
 'o',
 ' ',
 'y',
 'o',
 'u',
 ' ',
 'l',
 'i',
 'k',
 'e',
 '?',
 '"',
 ' ',
 ' ',
 '\n',
 '\n',
 'T',
 'h',
 'e',
 ' ',
 'o',
 't',
 'h',
 'e',
 'r',
 ' ',
 's',
 'a',
 'y',
 's',
 ',',
 ' ',
 '\n',
 '"',
 'I',
 "'",
 'm',
 ' ',
 'a',
 ' ',
 'b',
 'i',
 'g',
 ' ',
 'm',
 'e',
 't',
 'a',
 'l',
 ' ',
 'f',
 'a',
 'n',
 '.',
 '"',
 '\n']

Strings also support several list operations, which are discussed in the next section. We'll look at a couple of examples here.

#### Indexing and Selection

You can access individual characters within a string using the **`[]`** `indexing notation`. Note the character indices go from `0` to `n-1`, where `n` is the length of the string.

In [131]:
name = 'Jennifer'

In [132]:
name

'Jennifer'

In [138]:
name[-8]

'J'

In [11]:
name[7]

'r'

In [13]:
name[1]

'e'

##### Negative

In [174]:
name

'Jennifer'

In [15]:
name[-4]

'i'

In [17]:
name[-1]

'r'

In [19]:
name[-5]

'n'

#### Slicing/Selection

You can access a part of a string using by providing a `start:end:stepping` range instead of a single index in `[]`.

In [156]:
name

'Jennifer'

In [145]:
name[::3]

'Jne'

In [23]:
name[5:8]

'fer'

In [25]:
name[0:7:3]

'Jne'

In [184]:
name

'Jennifer'

In [147]:
name[-5:-1]

'nife'

#### Membership

You can also check whether a string contains some text using the `in` operator.

In [148]:
today = 'Wednesday'

In [149]:
today

'Wednesday'

In [152]:
'day' in today

True

In [153]:
'day' == 'Day'

False

In [154]:
'Wed' in today

True

In [156]:
'Wed' not in today

False

#### Concating Strings

Two or more strings can be joined or *concatenated* using the `+` operator. 

**`Note`**: Be careful while concatenating strings, sometimes you may need to add a space character `" "` between words.

In [157]:
full_name = "Esther Solomon"
full_name

'Esther Solomon'

In [158]:
name = 'Esther'

surname = 'Solomon'

In [159]:
name

'Esther'

In [160]:
surname

'Solomon'

In [162]:
full_name_1 = name + surname
full_name_1

'EstherSolomon'

In [165]:
"Esther" + " " + "Solomon"

'Esther Solomon'

In [63]:
full_name_1 = name + ' ' +surname
full_name_1

'Esther Solomon'

In [166]:
"solomon" + 2

TypeError: can only concatenate str (not "int") to str

#### Replicating Strings

In [168]:
name = 'Karyna'
name

'Karyna'

In [170]:
name * 5

'KarynaKarynaKarynaKarynaKaryna'

In [171]:
name * "cake"

TypeError: can't multiply sequence by non-int of type 'str'

In [79]:
name * 4.0

TypeError: can't multiply sequence by non-int of type 'float'

In [168]:
for i in ['SOlomon', 'Promise', 'Nigeria']:
    print(i)

SOlomon
Promise
Nigeria

In [169]:
fT = ['Derek O', 'Brien', 'Derek O','Brien','Derek O', 'Brien','Derek O', 'Brien''Derek O', 'Brien']

In [170]:
for i in fT:
    print(i *5)

Derek ODerek ODerek ODerek ODerek O
BrienBrienBrienBrienBrien
Derek ODerek ODerek ODerek ODerek O
BrienBrienBrienBrienBrien
Derek ODerek ODerek ODerek ODerek O
BrienBrienBrienBrienBrien
Derek ODerek ODerek ODerek ODerek O
BrienDerek OBrienDerek OBrienDerek OBrienDerek OBrienDerek O
BrienBrienBrienBrienBrien

In [171]:
for i in full:
    print(i)

NameError: name 'full' is not defined

In [172]:
print(full_name *5)

Lovelyn ChiekwereLovelyn ChiekwereLovelyn ChiekwereLovelyn ChiekwereLovelyn Chiekwere

In [173]:
greeting = "Hello "

In [174]:
greeting + full_name

'Hello Lovelyn Chiekwere'

In [175]:
greeting + full_name + "!" # additional space

'Hello Lovelyn Chiekwere!'

#### String Methods

Strings in Python have many built-in *methods* that are used to manipulate them. Let's try out some common string methods.

> **Methods**: Methods are functions associated with data types and are accessed using the `.` notation e.g. `variable_name.method()` or `"a string".method()`. Methods are a powerful technique for associating common operations with values of specific data types.

The `.lower()`, `.upper()` and `.capitalize()` methods are used to change the case of the characters.

In [173]:
today = 'SUNDAY'

In [174]:
today = today.lower()
today

'sunday'

In [99]:
tomorrow = "THURSDAY"

In [177]:
today = today.upper()
today

'SUNDAY'

In [179]:
today = today.capitalize()
today

'Sunday'

In [103]:
tomorrow.lower()

'thursday'

In [105]:
tomorrow

'THURSDAY'

In [107]:
today = 'saturday'
today

'saturday'

In [109]:
today.upper()

'SATURDAY'

In [111]:
today

'saturday'

In [113]:
today = today.upper()
today

'SATURDAY'

In [115]:
today

'SATURDAY'

In [117]:
today.capitalize()

'Saturday'

In [64]:
today

'saturday'

In [71]:
today = today.upper()
today

'SATURDAY'

In [119]:
"monday".capitalize() # changes first character to uppercase

'Monday'

The `.replace` method replaces a part of the string with another string. It takes the portion to be replaced and the replacement text as *inputs* or *arguments*.

In [180]:
today

'Sunday'

In [181]:
today.replace('Sun', 'WEDNES')

'WEDNESday'

In [125]:
today

'SATURDAY'

In [127]:
another_day = today.replace("SATUR", "WEDNES")

In [129]:
another_day

'WEDNESDAY'

Note that `replace` returns a new string, and the original string is not modified.

In [132]:
today

'SATURDAY'

The `.split` method splits a string into a list of strings at every occurrence of provided character(s).

In [182]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

In [183]:
"1|2|3|4|5|6|7".split("|")

['1', '2', '3', '4', '5', '6', '7']

The `.strip` method removes whitespace characters from the beginning and end of a string.

In [184]:
a_long_line = "       This is a long line with some space before, after,     and some space in the middle..    "

In [185]:
print(a_long_line)

       This is a long line with some space before, after,     and some space in the middle..

In [147]:
len('       ')

7

In [186]:
a_long_line.strip()

'This is a long line with some space before, after,     and some space in the middle..'

In [151]:
a_long_line_stripped = a_long_line.strip()

In [153]:
a_long_line_stripped

'This is a long line with some space before, after,     and some space in the middle..'

The `.format` method combines values of other data types, e.g., integers, floats, booleans, lists, etc. with strings. You can use `format` to construct output messages for display.

In [188]:
"I am Solomon, and I am 27 year old"

'I am Solomon, and I am 27 year old'

In [190]:
"I am Solomon and I am {} year old".format(27*2)

'I am Solomon and I am 54 year old'

In [191]:
f"I am Solomon and I am {28} year old"

'I am Solomon and I am 28 year old'

In [161]:
print('I  am  Solomon and I am {} year old'.format(27))

I  am  Solomon and I am 27 year old

In [163]:
# Input variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

In [196]:
# Template for output message
output_template = """If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %, 
then the total profit it makes by selling {} ice bags is $ {}.""".format(1.25, 0.2, 500, 1.25*0.2*500)

print(output_template)

If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin of 0.2 %,
then the total profit it makes by selling 500 ice bags is $ 125.0.

In [169]:
print(output_template)

If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %,
then the total profit it makes by selling {} ice bags is $ {}.

In [167]:
# Inserting values into the string

total_profit = cost_of_ice_bag * profit_margin * number_of_bags
total_profit

125.0

In [171]:
output_message = output_template.format(cost_of_ice_bag, 
                                        profit_margin*100, 
                                        number_of_bags, total_profit)

print(output_message)

If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin of 20.0 %,
then the total profit it makes by selling 500 ice bags is $ 125.0.

Notice how the placeholders `{}` in the `output_template` string are replaced with the arguments provided to the `.format` method.

It is also possible to use the string concatenation operator `+` to combine strings with other values. However, those values must first be converted to strings using the `str` function.

In [175]:
"If a grocery store sells ice bags at $ " + cost_of_ice_bag + ", with a profit margin of " + profit_margin

TypeError: can only concatenate str (not "float") to str

In [177]:
"If a grocery store sells ice bags at $ " + str(cost_of_ice_bag) + ", with a profit margin of " + str(profit_margin*100)

'If a grocery store sells ice bags at $ 1.25, with a profit margin of 20.0'

#### Converting other data types to strings

You can us the  `str` function to convert a value of any data type into a string.

In [197]:
goh = str(123)
goh

'123'

In [198]:
str(23.432)

'23.432'

In [199]:
str(True)

'True'

In [200]:
the_3_musketeers = ["Athos", "Porthos", "Aramis"]
str(the_3_musketeers)

"['Athos', 'Porthos', 'Aramis']"

**Note**: All string methods return new values and DO NOT change the existing string. You can find a full list of string methods here: https://www.w3schools.com/python/python_ref_string.asp.

#### Comparism Operations on Strings

Strings also support the comparison operators `==` and `!=` for checking whether two strings are equal.

In [201]:
first_name = "Mary"

In [202]:
first_name == "Mariam"

False

In [203]:
first_name == "Mary"

True

In [204]:
first_name != "Jane"

True

We've looked at the primitive data types in Python. We're now ready to explore non-primitive data structures, also known as containers.

### List

A list in Python is an ordered collection of values. Lists can hold values of different data types and support operations to `add`, `remove`, and `change values`. Lists have the type `list`.

To create a list, enclose a sequence of values within square brackets `[` and `]`, separated by commas.

In [207]:
sol =  ['Promise', 'Solomon']
solo = ['Promise', 'Solomon']

In [208]:
sol == solo

True

In [7]:
sol[0]

'Solomon'

In [9]:
solo[0]

'Promise'

In [96]:
sol == solo

False

In [209]:
fruits = ['apple', 'banana', 'cherry']
fruits

['apple', 'banana', 'cherry']

In [210]:
fruits_i = ['banana','apple', 'cherry']
fruits_i

['banana', 'apple', 'cherry']

In [211]:
fruits == fruits_i

False

In [212]:
fruits_2 = ['apple', 'banana',  'cherry', 1, False, 45.99]

In [213]:
fruits_2

['apple', 'banana', 'cherry', 1, False, 45.99]

In [214]:
fruits

['apple', 'banana', 'cherry']

In [23]:
type(fruits)

list

Let's try creating a list containing values of different data types, including another list.

In [216]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [217]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [218]:
empty_list = []

In [219]:
empty_list

[]

In [98]:
empty_list

[]

To determine the number of values in a list, use the `len` function. You can use `len`  to determine the number of values in several other data types.

In [220]:
fruits

['apple', 'banana', 'cherry']

In [221]:
len(fruits)

3

In [222]:
print("Number of fruits:", len(fruits))

Number of fruits: 3

In [107]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [109]:
len(a_list)

6

In [111]:
len(empty_list)

0

#### Indexing and Selection

You can access an element from the list using its *index*, e.g., `fruits[2]` returns the element at index 2 within the list `fruits`. The starting index of a list is 0.

In [223]:
fruits

['apple', 'banana', 'cherry']

In [224]:
fruits[0]

'apple'

In [225]:
fruits[1]

'banana'

In [226]:
fruits[2]

'cherry'

In [227]:
fruits[-1]

'cherry'

In [228]:
fruits[-2]

'banana'

In [127]:
fruits[-3]

'apple'

If you try to access an index equal to or higher than the length of the list, Python returns an `IndexError`.

In [229]:
fruits

['apple', 'banana', 'cherry']

In [230]:
fruits[3]

IndexError: list index out of range

In [135]:
fruits[4]

IndexError: list index out of range

You can use negative indices to access elements from the end of a list, e.g., `fruits[-1]` returns the last element, `fruits[-2]` returns the second last element, and so on.

In [137]:
fruits[-1]

'cherry'

In [139]:
fruits[-2]

'banana'

In [141]:
fruits[-3]

'apple'

In [143]:
fruits[-4]

IndexError: list index out of range

You can also access a range of values from the list. The result is itself a list. Let us look at some examples.

In [231]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [232]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [233]:
len(a_list)

6

In [234]:
a_list[0]

23

In [235]:
a_list[1]

'hello'

In [236]:
a_list[2]

In [237]:
a_list[3]

3.14

In [239]:
a_list[4]

['apple', 'banana', 'cherry']

In [240]:
a_list[4][0]

'apple'

In [241]:
a_list[4][1]

'banana'

In [242]:
a_list[4][2]

'cherry'

In [173]:
a_list[5]

True

In [175]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [177]:
a_list[1:4]

['hello', None, 3.14]

In [179]:
a_list[2:5]

[None, 3.14, ['apple', 'banana', 'cherry']]

In [181]:
a_list[0:3]

[23, 'hello', None]

In [183]:
a_list[10]

IndexError: list index out of range

In [185]:
a_list[2:6]

[None, 3.14, ['apple', 'banana', 'cherry'], True]

In [189]:
a_list[5:1]

[]

In [191]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [195]:
a_list[2:] ### stopping at the last index (value)

[None, 3.14, ['apple', 'banana', 'cherry'], True]

In [201]:
a_list[:4]  ### Starting at the very begining

[23, 'hello', None, 3.14]

In [58]:
a_list[4][0]

'apple'

In [59]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [203]:
 a_list[-5:-2]

['hello', None, 3.14]

In [205]:
a_list[-2:-5]

[]

In [62]:
 a_list[5:2]

[]

Note that the range `2:5` includes the element at the start index `2` but does not include the element at the end index `5`. So, the result has 3 values (index `2`, `3`, and `4`).

Here are some experiments you should try out (use the empty cells below):

* Try setting one or both indices of the range are larger than the size of the list, e.g., `a_list[2:10]`
* Try setting the start index of the range to be larger than the end index, e.g., `a_list[12:10]`
* Try leaving out the start or end index of a range, e.g., `a_list[2:]` or `a_list[:5]`
* Try using negative indices for the range, e.g., `a_list[-2:-5]` or `a_list[-5:-2]` (can you explain the results?)

> The flexible and interactive nature of Jupyter notebooks makes them an excellent tool for learning and experimentation. If you are new to Python, you can resolve most questions as soon as they arise simply by typing the code into a cell and executing it. Let your curiosity run wild, discover what Python is capable of and what it isn't!

#### Updating Values in a list

You can also change the value at a specific index within a list using the assignment operation.

In [253]:
fruits = ['apple', 'pawpaw', 'cherry']

In [244]:
fruits[1]

'banana'

In [245]:
fruits[1] = 'blueberry'

In [246]:
fruits

['apple', 'blueberry', 'cherry']

In [247]:
fruits[2]

'cherry'

In [248]:
fruits = 'mango'

In [249]:
name = ['Seyi', 'Isaiah', 'Chris', 'Samuel', 'Sodiq']

In [229]:
name[3] = 'Solomon'
name

['Seyi', 'Isaiah', 'Promise', 'Solomon']

In [233]:
name[2:4] = ['Karyna']

In [235]:
name

['Seyi', 'Isaiah', 'Karyna']

#### List methods

A new value can be added to the end of a list using the `append` method.

In [254]:
fruits

['apple', 'pawpaw', 'cherry']

#### `append`

In [255]:
fruits.append('dates')

In [256]:
fruits

['apple', 'pawpaw', 'cherry', 'dates']

In [257]:
fruits.append('guava', 'blueberry')

TypeError: list.append() takes exactly one argument (2 given)

In [263]:
fruits + ['guava', 'apple'] ## concating two list together !!!

['apple', 'pawpaw', 'cherry', 'dates', 'guava', 'orange', 'guava', 'apple']

In [264]:
fruits

['apple', 'pawpaw', 'cherry', 'dates', 'guava', 'orange']

In [178]:
fruits.append(['guava', 'apple'])

In [179]:
fruits

['apple', 'blueberry', 'mango', 'dates', ['guava', 'apple']]

In [83]:
['guava', 'apple']

['guava', 'apple']

In [9]:
fruits

NameError: name 'fruits' is not defined

`Extend`

In [260]:
fruits.extend(['guava', 'orange'])

In [262]:
fruits

['apple', 'pawpaw', 'cherry', 'dates', 'guava', 'orange']

#### `insert`

A new value can also be inserted at a specific index using the `insert` method.

In [266]:
fruits

['apple', 'pawpaw', 'cherry', 'dates', 'guava', 'orange']

In [267]:
fruits.insert(1, 'banana')
fruits

['apple', 'banana', 'pawpaw', 'cherry', 'dates', 'guava', 'orange']

In [187]:
fruits.extend(['guava', 'apple'])

In [188]:
fruits

['apple',
 'banana',
 'blueberry',
 'mango',
 'pawpaw',
 'dates',
 ['guava', 'apple'],
 'guava',
 'apple',
 'g',
 'u',
 'a',
 'v',
 'a',
 ',',
 ' ',
 'a',
 'p',
 'p',
 'l',
 'e']

In [183]:
fruits.insert(4, 'pawpaw')
fruits

['apple',
 'banana',
 'blueberry',
 'mango',
 'pawpaw',
 'dates',
 ['guava', 'apple']]

#### `remove`

You can remove a value from a list using the `remove` method.

In [269]:
fruits.remove('guava')

In [270]:
fruits

['apple', 'banana', 'pawpaw', 'cherry', 'dates', 'orange']

In [271]:
fruits.remove('dates')
fruits

['apple', 'banana', 'pawpaw', 'cherry', 'orange']

In [272]:
fruits

['apple', 'banana', 'pawpaw', 'cherry', 'orange']

In [273]:
fruits.remove('apple', 'pawpaw')

TypeError: list.remove() takes exactly one argument (2 given)

What happens if a list has multiple instances of the value passed to `.remove`? Try it out.

In [207]:
fruits

['apple', 'banana', 'blueberry', 'mango', 'pawpaw', 'guava', 'apple']

In [208]:
fruits.remove('apple')

In [209]:
fruits

['banana', 'blueberry', 'mango', 'pawpaw', 'guava', 'apple']

#### `Pop`

To remove an element from a specific index, use the `pop` method. The method also returns the removed element.

In [274]:
fruits

['apple', 'banana', 'pawpaw', 'cherry', 'orange']

In [275]:
fruits.pop(0)

'apple'

In [276]:
fruits

['banana', 'pawpaw', 'cherry', 'orange']

In [277]:
cherry = fruits.pop(2)
cherry

'cherry'

In [278]:
fruits

['banana', 'pawpaw', 'orange']

If no index is provided, the `pop` method removes the last element of the list.

In [279]:
fruits.pop()

'orange'

In [281]:
fruits

['banana', 'pawpaw']

#### Membership Test

You can test whether a list contains a value using the `in` operator.

In [282]:
fruits

['banana', 'pawpaw']

In [283]:
'pineapple' not in fruits

True

In [284]:
'cherry' in fruits

False

In [285]:
'apple' in fruits

False

In [286]:
'pawpaw' in fruits

True

#### Concate List

To combine two or more lists, use the `+` operator. This operation is also called *concatenation*.

In [287]:
fruits

['banana', 'pawpaw']

In [288]:
['pineapple', 'tomato', 'guava']

['pineapple', 'tomato', 'guava']

In [289]:
['dates', 'banana']

['dates', 'banana']

In [290]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']

In [291]:
more_fruits

['banana', 'pawpaw', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [230]:
more_fruits.remove('banana')

In [231]:
more_fruits

['blueberry', 'pawpaw', 'pineapple', 'guava', 'dates', 'banana']

#### Copy (Deep Copy) and View (Shallow Copy)

To create a copy of a list, use the `copy method`. Modifying the copied list does not affect the original.

In [232]:
more_fruits

['blueberry', 'pawpaw', 'pineapple', 'guava', 'dates', 'banana']

In [233]:
more_fruits_copied = more_fruits.copy()

In [234]:
more_fruits_copied

['blueberry', 'pawpaw', 'pineapple', 'guava', 'dates', 'banana']

In [235]:
more_fruits == more_fruits_copied

True

In [236]:
# Modify the copy
more_fruits_copied.remove('pineapple')

In [237]:
more_fruits_copied.pop()

'banana'

In [238]:
more_fruits_copied

['blueberry', 'pawpaw', 'guava', 'dates']

In [239]:
# Original list remains unchanged
more_fruits

['blueberry', 'pawpaw', 'pineapple', 'guava', 'dates', 'banana']

Note that you cannot create a copy of a list by simply creating a new variable using the assignment operator `=`. The new variable will point to the same list, and any modifications performed using either variable will affect the other.

In [241]:
more_fruits

['blueberry', 'pawpaw', 'pineapple', 'guava', 'dates', 'banana']

In [242]:
more_fruits_not_a_copy = more_fruits
more_fruits_not_a_copy

['blueberry', 'pawpaw', 'pineapple', 'guava', 'dates', 'banana']

In [131]:
more_fruits_not_a_copy == more_fruits

True

In [243]:
more_fruits_not_a_copy.remove('pineapple')
more_fruits_not_a_copy.pop()

'banana'

In [252]:
more_fruits_not_a_copy

['blueberry', 'pawpaw', 'guava', 'dates']

In [245]:
more_fruits

['blueberry', 'pawpaw', 'guava', 'dates']

In [248]:
more_fruits.remove('dates')

In [250]:
more_fruits.append('dates')

In [251]:
more_fruits

['blueberry', 'pawpaw', 'guava', 'dates']

Just like strings, there are several in-built methods to manipulate a list. However, unlike strings, most list methods modify the original list rather than returning a new one. Check out some common list operations here: https://www.w3schools.com/python/python_ref_list.asp .


Following are some exercises you can try out with list methods (use the blank code cells below):

* Reverse the order of elements in a list
* Add the elements of one list at the end of another list
* Sort a list of strings in alphabetical order
* Sort a list of numbers in decreasing order

In [ ]:
a_tuple =

### Tuple

A tuple is an ordered collection of values, similar to a list. However, it is not possible to add, remove, or modify values in a tuple. A tuple is created by enclosing values within parentheses `(` and `)`, separated by commas.

> Any data structure that cannot be modified after creation is called *immutable*. You can think of tuples as immutable lists.

Let's try some experiments with tuples.

In [292]:
fruits = ('apple', 'cherry', 'dates', 'cherry')
fruits

('apple', 'cherry', 'dates', 'cherry')

In [293]:
# check no. of elements
len(fruits)

4

In [294]:
# get an element (positive index)
fruits[0]

'apple'

In [295]:
# get an element (negative index)
fruits[-2]

'dates'

In [296]:
# check if it contains an element
'dates' in fruits

True

In [297]:
# try to change an element
fruits[0] = 'avocado'

TypeError: 'tuple' object does not support item assignment

In [298]:
# try to append an element
fruits.append('blueberry')

AttributeError: 'tuple' object has no attribute 'append'

In [299]:
# try to remove an element
fruits.remove('apple')

AttributeError: 'tuple' object has no attribute 'remove'

You can also skip the parantheses `(` and `)` while creating a tuple. Python automatically converts comma-separated values into a tuple.

In [300]:
the_3_musketeers = 'Athos', 'Porthos', 'Aramis'

In [301]:
the_3_musketeers

('Athos', 'Porthos', 'Aramis')

You can also create a tuple with just one element by typing a comma after it. Just wrapping it with parentheses `(` and `)` won't make it a tuple.

In [302]:
single_element_tuple = 4,

In [303]:
single_element_tuple

(4,)

In [304]:
another_single_element_tuple = (4,)

In [305]:
another_single_element_tuple

(4,)

In [306]:
not_a_tuple = (4)

In [268]:
not_a_tuple

4

Tuples are often used to create multiple variables with a single statement.

In [307]:
point = (3, 4)

In [308]:
point_x, point_y = point

In [309]:
point_x

3

In [310]:
point_y

4

You can convert a list into a tuple using the `tuple` function, and vice versa using the `list` function

In [311]:
['one', 'two', 'three']

['one', 'two', 'three']

In [312]:
tuple(['one', 'two', 'three'])

('one', 'two', 'three')

In [277]:
list(('Athos', 'Porthos', 'Aramis'))

['Athos', 'Porthos', 'Aramis']

Tuples have just two built-in methods: `count` and `index`. Can you figure out what they do? While you look could look for documentation and examples online, there's an easier way to check a method's documentation, using the `help` function.

In [313]:
a_tuple = 23, "hello", False, None, 23, 37, "hello", 'hello'

In [314]:
a_tuple

(23, 'hello', False, None, 23, 37, 'hello', 'hello')

In [318]:
a_tuple.count(False)

1

In [364]:
help(a_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

Within a Jupyter notebook, you can also start a code cell with `?` and type the name of a function or method. When you execute this cell, you will see the function/method's documentation in a pop-up window.

In [319]:
?a_tuple.index

Try using `count` and `index` with `a_tuple` in the code cells below.

In [320]:
a_tuple.count('hello')

3

In [321]:
a_tuple

(23, 'hello', False, None, 23, 37, 'hello', 'hello')

In [322]:
a_tuple.index('hello')

1

### Dictionary

A dictionary is an unordered collection of items. Each item stored in a dictionary has a key and value. You can use a key to retrieve the corresponding value from the dictionary.  Dictionaries have the type `dict`.

Dictionaries are often used to store many pieces of information e.g. details about a person, in a single variable. Dictionaries are created by enclosing key-value pairs within braces or curly brackets `{` and `}`.

In [326]:
person1 = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True, 
}

In [327]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

Dictionaries can also be created using the `dict` function.

In [328]:
person2 = dict(name='Jane Judy', sex='Female', age=28, married=False)

In [329]:
person2

{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': False}

In [330]:
type(person1)

dict

Keys can be used to access values using square brackets `[` and `]`.

In [179]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [331]:
person1['name']

'John Doe'

In [332]:
person1['married']

True

In [293]:
person1['sex']

'Male'

In [294]:
person1['age']

32

In [296]:
person2

{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': False}

In [297]:
person2['name']

'Jane Judy'

In [298]:
person2['age']

28

In [299]:
person2['sex']

'Female'

If a key isn't present in the dictionary, then a `KeyError` is *thrown*.

In [301]:
person1['address']

KeyError: 'address'

You can also use the `get` method to access the value associated with a key.

In [302]:
person2.get("name")

'Jane Judy'

In [303]:
person2

{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': False}

The `get` method also accepts a default value, returned if the key is not present in the dictionary.

In [304]:
person2.get("address", "No Value")

'No Value'

You can check whether a key is present in a dictionary using the `in` operator.

In [193]:
'name' in person1

True

In [194]:
'address' in person1

False

You can change the value associated with a key using the assignment operator.

In [340]:
person2['married']

False

In [341]:
person2['married'] = True

In [342]:
person2['married']

True

In [308]:
person2

{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': True}

**The assignment operator can also be used to add new key-value pairs to the dictionary.**

In [199]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [309]:
person1['address'] = '1, Penny Lane'

In [310]:
person1

{'name': 'John Doe',
 'sex': 'Male',
 'age': 32,
 'married': True,
 'address': '1, Penny Lane'}

In [311]:
person1['address']

'1, Penny Lane'

In [312]:
person1['email'] = 'johndoe42@gmail.com'

In [313]:
person1['email']

'johndoe42@gmail.com'

In [314]:
person1

{'name': 'John Doe',
 'sex': 'Male',
 'age': 32,
 'married': True,
 'address': '1, Penny Lane',
 'email': 'johndoe42@gmail.com'}

To remove a key and the associated value from a dictionary, use the `pop` method.

In [315]:
person1.pop('address')

'1, Penny Lane'

In [316]:
person1

{'name': 'John Doe',
 'sex': 'Male',
 'age': 32,
 'married': True,
 'email': 'johndoe42@gmail.com'}

Dictionaries also provide methods to view the list of keys, values, or key-value pairs inside it.

In [317]:
person1.keys()

dict_keys(['name', 'sex', 'age', 'married', 'email'])

In [318]:
person1.values()

dict_values(['John Doe', 'Male', 32, True, 'johndoe42@gmail.com'])

In [319]:
person1.items()

dict_items([('name', 'John Doe'), ('sex', 'Male'), ('age', 32), ('married', True), ('email', 'johndoe42@gmail.com')])

In [320]:
person1.keys()[1]

TypeError: 'dict_keys' object is not subscriptable

The results of `keys`, `values`, and `items` look like lists. However, they don't support the indexing operator `[]` for retrieving elements. 

Can you figure out how to access an element at a specific index from these results? Try it below. *Hint: Use the `list` function*

Dictionaries provide many other methods. You can learn more about them here: https://www.w3schools.com/python/python_ref_dictionary.asp .

Here are some experiments you can try out with dictionaries (use the empty cells below):
* What happens if you use the same key multiple times while creating a dictionary?
* How can you create a copy of a dictionary (modifying the copy should not change the original)?
* Can the value associated with a key itself be a dictionary?
* How can you add the key-value pairs from one dictionary into another dictionary? Hint: See the `update` method.
* Can the dictionary's keys be something other than a string, e.g., a number, boolean, list, etc.?

In [352]:
persons = {
    'name': ['John Doe','Solomon Promise', 'John Otor', 'Sarah Adams', 'Joyce Moses'],
    'sex': ['Male',  "missing",'Male', 'Female', 'Female'],
    'age': [32,34, 24, 36, 25],
    'married': [True, False, False, True, True]
}

In [350]:
persons

{'name': ['John Doe',
  'Solomon Promise',
  'John Otor',
  'Sarah Adams',
  'Joyce Moses'],
 'sex': ['Male', 'Male', 'Female', 'Female'],
 'age': [32, 34, 24, 36, 25],
 'married': [True, False, False, True, True]}

In [337]:
persons['sex']

['Male', 'Male', 'Male', 'Female', 'Female']

In [326]:
persons['name'].append('Akpan Felix')

In [327]:
persons['age'].append(27)

In [328]:
persons['name'][2]

'John Otor'

In [238]:
persons['name'][-1]

'Akpan Felix'

In [239]:
persons['name'][4]

'Joyce Moses'

In [240]:
persons['married'].append('Married')

In [242]:
persons['sex'].append('Male')

In [331]:
persons

{'name': ['John Doe',
  'Solomon Promise',
  'John Otor',
  'Sarah Adams',
  'Joyce Moses',
  'Akpan Felix'],
 'sex': ['Male', 'Male', 'Male', 'Female', 'Female'],
 'age': [32, 34, 24, 36, 25, 27],
 'married': [True, False, False, True, True]}

In [338]:
persons['sex'].append('Male')
persons['married'].append('False')
persons

{'name': ['John Doe',
  'Solomon Promise',
  'John Otor',
  'Sarah Adams',
  'Joyce Moses',
  'Akpan Felix'],
 'sex': ['Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male'],
 'age': [32, 34, 24, 36, 25, 27],
 'married': [True, False, False, True, True, 'False']}

In [341]:
persons['sex'].pop()

'Male'

In [342]:
persons

{'name': ['John Doe',
  'Solomon Promise',
  'John Otor',
  'Sarah Adams',
  'Joyce Moses',
  'Akpan Felix'],
 'sex': ['Male', 'Male', 'Male', 'Female', 'Female', 'Male'],
 'age': [32, 34, 24, 36, 25, 27],
 'married': [True, False, False, True, True, 'False']}

In [338]:
import pandas as pd

In [351]:
df = pd.DataFrame(persons)
df

ValueError: All arrays must be of the same length

In [345]:
df['name'][0]

'John Doe'

In [406]:
persons.keys()

dict_keys(['name', 'sex', 'age', 'married'])

In [407]:
persons.values()

dict_values([['John Doe', 'Solomon Promise', 'John Otor', 'Sarah Adams', 'Joyce Moses'], ['Male', 'Male', 'Male', 'Female', 'Female'], [32, 34, 24, 36, 25], [True, False, False, True, True]])

In [408]:
persons.items()

dict_items([('name', ['John Doe', 'Solomon Promise', 'John Otor', 'Sarah Adams', 'Joyce Moses']), ('sex', ['Male', 'Male', 'Male', 'Female', 'Female']), ('age', [32, 34, 24, 36, 25]), ('married', [True, False, False, True, True])])

## Further Reading

We've now completed our exploration of variables and common data types in Python. Following are some resources to learn more about data types in Python:

* Python official documentation: https://docs.python.org/3/tutorial/index.html
* Python Tutorial at W3Schools: https://www.w3schools.com/python/
* Practical Python Programming: https://dabeaz-course.github.io/practical-python/Notes/Contents.html

You are now ready to move on to the next tutorial: [Branching using conditional statements and loops in Python](https://jovian.ml/aakashns/python-branching-and-loops)